<div id="multi-item-outstanding" class="carousel slide carousel-multi-item carrusel-home" data-ride="carousel">
    <% let totalOutstandingNotebooks = 0; %>
    <% let fistSlide = 0; %>
    <% let offersId = []; %>



    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <% for(let i= 0; i < notebooks.length; i++){ %>
                <% if (notebooks[i].outstanding == true ){totalOutstandingNotebooks += 1 } %>

                <% if (notebooks[i].outstanding == true && fistSlide < 3){ %>
                <%  fistSlide += 1%>
                <%  offersId.push(notebooks[i].id)%>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="/detalles/<%= notebooks[i].id%>" class="imageCardCarrusel">
                                <img class="pic-1" src="../img/<%=notebooks[i].image[0].filename%>">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a><%= notebooks[i].name%></a></h3>
                            <div class="price">$
                                <%= notebooks[i].price%>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="/detalles/<%= notebooks[i].id%>" data-tip="Ver producto"><i
                                        class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Añadir al Carrito"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <% if (notebooks[i].stock <= 3){ %>
                        <span class="product-stock-label">
                            <% if (notebooks[i].stock == 1){ %>
                            Ultima unidad
                            <% }else{ %>
                            Ultimas <%= notebooks[i].stock%> unidades</span>
                        <% } %>
                        <% } %>
                        <% if (notebooks[i].descuento != '0'){ %>
                        <span class="product-discount-label">-<%= notebooks[i].descuento%>%</span>
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <% if (totalOutstandingNotebooks > 3){ %>
        <% let totalSecondOfferNotebooks = 0; %>
        <div class="carousel-item">
            <div class="row">
                <% for(let i= 0; i < notebooks.length; i++){ %>
                <% if (notebooks[i].outstanding == true && totalSecondOfferNotebooks < 3 && !offersId.includes(notebooks[i].id) ){ %>
                <%  totalSecondOfferNotebooks += 1 %>
                <div class="col-md-4 col-sm-6">
                    <div class="product-grid6">
                        <div class="product-image6">
                            <a href="/detalles/<%= notebooks[i].id%>" class="imageCardCarrusel">
                                <img class="pic-1" src="../img/<%=notebooks[i].image[0].filename%>">
                            </a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a><%= notebooks[i].name%></a></h3>
                            <div class="price">$
                                <%= notebooks[i].price%>
                            </div>
                        </div>
                        <ul class="social">
                            <li><a href="/detalles/<%= notebooks[i].id %>" data-tip="Ver producto"><i
                                        class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Añadir al Carrito"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        <% if (notebooks[i].stock <= 3){ %>
                        <span class="product-stock-label">
                            <% if (notebooks[i].stock == 1){ %>
                            Ultima unidad
                            <% }else{ %>
                            Ultimas <%= notebooks[i].stock%> unidades</span>
                        <% } %>
                        <% } %>
                        <% if (notebooks[i].descuento != '0'){ %>
                        <span class="product-discount-label">-<%= notebooks[i].descuento%>%</span>
                        <% } %>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
        <% } %>
        <!--/.Second slide-->
    </div>
    <!--/.Slides-->
    <% if (totalOutstandingNotebooks > 3){ %>
    <!--Controls-->
    <div class="controls-top align-items-center justify-content-center" style="display: flex;">
        <a class="btn-floating" href="#multi-item-outstanding" data-slide="prev">
            <i>
                <ion-icon class="next-prev" name="arrow-back-outline"></ion-icon>
            </i></a>
        <a class="btn-floating" href="#multi-item-outstanding" data-slide="next">
            <i>
                <ion-icon class="next-prev" name="arrow-forward-outline"></ion-icon>
            </i></a>
    </div>
    <% } %>
    <!--/.Controls-->
</div>