<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/css/administrar.css">
  <script src="/js/administrar.js"></script>
  <title>Administración</title>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
  <svg style="display: none">
    <symbol id="userAvatarOffline" viewBox="0 0 16 16">
      <path
        d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0ZM8,15a7,7,0,0,1-5.19-2.32,2.71,2.71,0,0,1,1.7-1,13.11,13.11,0,0,0,1.29-.28,2.32,2.32,0,0,0,.94-.34,1.17,1.17,0,0,0-.27-.7h0A3.61,3.61,0,0,1,5.15,7.49,3.18,3.18,0,0,1,8,4.07a3.18,3.18,0,0,1,2.86,3.42,3.6,3.6,0,0,1-1.32,2.88h0a1.13,1.13,0,0,0-.27.69,2.68,2.68,0,0,0,.93.31,10.81,10.81,0,0,0,1.28.23,2.63,2.63,0,0,1,1.78,1A7,7,0,0,1,8,15Z" />
    </symbol>
    <symbol id="search" viewBox="0 0 16 16">
      <path
        d="M6.57,1A5.57,5.57,0,1,1,1,6.57,5.57,5.57,0,0,1,6.57,1m0-1a6.57,6.57,0,1,0,6.57,6.57A6.57,6.57,0,0,0,6.57,0Z" />
      <rect x="11.84" y="9.87" width="2" height="5.93" transform="translate(-5.32 12.84) rotate(-45)" />
    </symbol>
  </svg>
  <header class="page-header">
    <nav>
      <a href="/">
        <img class="logo" src="/img/logo.png" alt="forecastr logo" />
      </a>

      <ul class="admin-menu">
        <li class="menu-heading">
          <h3>Admin</h3>
        </li>
        <li>
          <a id="generalButton" class="generalCategory">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <span class="leftCategory">General</span>
          </a>
        </li>
        <li>
          <a id="notebooksButton" class="generalCategory">
            <ion-icon name="desktop-outline"></ion-icon>
            <span class="leftCategory">Notebooks</span>
          </a>
        </li>
        <li>
          <a id="componentsGeneralButton" class="generalCategory">
            <ion-icon name="hardware-chip-outline"></ion-icon>
            <span class="leftCategory">Componentes</span>
          </a>
          <ul id="componentsListButton" style="display: none;padding: 0px;">
            <li class="pointerElement" id="brandsButton">Marcas</li>
            <li class="pointerElement" id="modelsButton">Modelos</li>
            <li class="pointerElement" id="categoryButton">Categorias</li>
            <li class="pointerElement" id="attributesButton">Atributos</li>
            <li class="pointerElement" id="imagesButton">Imagenes</li>
            <li class="pointerElement" id="componentsButton">Componentes</li>
          </ul>
        </li>
        <li>
          <a id="usersButton" class="generalCategory">
            <ion-icon name="people-outline"></ion-icon>
            <span class="leftCategory">Usuarios</span>
          </a>
        </li>

        <li class="menu-heading">
          <h3>Configuracion</h3>
        </li>
        <li>
          <a id="profileButton" class="generalCategory">
            <ion-icon name="person-outline"></ion-icon>
            <span class="leftCategory">Perfil</span>
          </a>
        </li>

        <li>
          <button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
            <svg aria-hidden="true">
              <use xlink:href="#collapse"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <section class="page-content">
    <section class="search-and-user">
      <form>
        <input type="search" placeholder="Search Pages..." />
        <button type="submit" aria-label="submit form">
          <svg aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </form>

      <% let name = locals.user != null ? locals.user.firstName :
        "Administrador"%>
      <div class="admin-profile">
        <span class="greeting"> <%= name%> </span>
        <% if (locals.user != undefined){%>
        <img src="/img/users/<%=locals.user.avatar%>" class="avatar" alt="Avatar" />
        <% } else { %>
        <div class="notifications">
          <ion-icon name="body-outline"></ion-icon>
        </div>
        <%}%>
        </div>
  </section>

  <section style="display: none;" id="generalContent">
        <section class="statis text-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="box bg-primary">
                  <i class="fa fa-eye"></i>
                  <h3>5,154</h3>
                  <p class="lead">Page views</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box danger">
                  <i class="fa fa-user-o"></i>
          <h3><%=usuarios.length%></h3>
        <p class="lead">Usuarios Registrados</p>
      </div>
      </div>
      <div class="col-md-3">
        <div class="box warning">
          <i class="fa fa-shopping-cart"></i>
          <h3><%=notebooks.length%></h3>
          <p class="lead">Productos Ingresados</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box success">
          <i class="fa fa-handshake-o"></i>
          <h3>5,154</h3>
          <p class="lead">Transactions</p>
        </div>
      </div>
      </div>
      </div>
    </section>
    <div id="chartContainer" style="height: 300px; width: 100%"></div>

    <div class="mainChart" style="margin-top: 150px;">
      <h2 class="progressDash">Total Sales</h2>

      <div class="clearFix"></div>

      <div id="totalSales">
        <div class="col">
          <div id="creditSales" class="progressBar" style="position: relative">
            <svg viewBox="0 0 100 100">
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="3"
                fill-opacity="0"></path>
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#F7505A"
                stroke-width="5" fill-opacity="0" style="
                      stroke-dasharray: 298.493, 298.493;
                      stroke-dashoffset: 59.6986;
                    "></path>
            </svg>
            <p class="progressbar-text" style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(247, 80, 90);
                  ">
              80%
            </p>
          </div>
          <h3 class="progressDash">$36,059</h3>
          <span class="progressTitle">Credit Sales</span>
        </div>
        <div class="col">
          <div id="channelSales" class="progressBar" style="position: relative">
            <svg viewBox="0 0 100 100">
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="3"
                fill-opacity="0"></path>
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#e88e3c"
                stroke-width="5" fill-opacity="0" style="
                      stroke-dasharray: 298.493, 298.493;
                      stroke-dashoffset: 107.458;
                    "></path>
            </svg>
            <p class="progressbar-text" style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(232, 142, 60);
                  ">
              64%
            </p>
          </div>
          <h3 class="progressDash">$24,834</h3>
          <span class="progressTitle">Channel Sales</span>
        </div>
        <div class="col">
          <div id="directSales" class="progressBar" style="position: relative">
            <svg viewBox="0 0 100 100">
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#eee" stroke-width="3"
                fill-opacity="0"></path>
              <path d="M 50,50 m 0,-47.5 a 47.5,47.5 0 1 1 0,95 a 47.5,47.5 0 1 1 0,-95" stroke="#2bab51"
                stroke-width="5" fill-opacity="0" style="
                      stroke-dasharray: 298.493, 298.493;
                      stroke-dashoffset: 197.006;
                    "></path>
            </svg>
            <p class="progressbar-text" style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    padding: 0px;
                    margin: 0px;
                    transform: translate(-50%, -50%);
                    color: rgb(43, 171, 81);
                  ">
              31%
            </p>
          </div>
          <h3 class="progressDash">$15,650</h3>
          <span class="progressTitle">Direct Sales</span>
        </div>
      </div>

      <table>
        <tr>
          <th>Detalle Ventas</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
        <% notebooks.forEach(notebook => { %>
        <tr>
          <td><%= notebook.name %></td>
          <td><%= notebook.stock %></td>
          <td>$ <%= notebook.stock * notebook.price %></td>
        </tr>
        <% }) %>

      </table>
    </div>
  </section>

  <section id="productsContent" class="row">

    <table class="table col-12 triangle">
      <thead>
        <h2>Marcas</h2>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Logo</th>
          <th style="text-align: center" scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createbrand" method="POST">
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandName"
                placeholder="Ingrese el nombre" value="" style="margin-top: 10px;" />
            </td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandLogo"
                placeholder="Ingrese el nombre del logo" value="" style="margin-top: 10px;" />
            </td>
            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- Productos cargados -->


    <div class="tbl-header tableBody">
      <table>
        <thead>
          <tr>
            <th onClick="sortTableNum(0)" class="id-column" id="classArrowId" scope="col">Id <ion-icon id="byArrowId"
                name="arrow-down-outline"> </ion-icon>
              <ion-icon id="arrowIconId" name="arrow-up-outline"> </ion-icon>
            </th>
            <th onclick="sortTable(1)" class="name-column" id="classArrowName" scope="col">Nombre
              <ion-icon id="byArrowName" name="arrow-down-outline"> </ion-icon>
              <ion-icon id="arrowIcon" name="arrow-up-outline"> </ion-icon>
            </th>
            <th class="model-column" scope="col">Modelo</th>
            <th class="brand-column" scope="col">Marca</th>
            <th class="price-column" scope="col">Precio</th>
            <th class="offer-column" scope="col">En Oferta</th>
            <th class="stock-column" scope="col">Stock</th>
            <th class="check-outstanding" scope="col">Dest.</th>
            <th class="see-column" scope="col">Ver</th>
            <th class="edit-column" scope="col">Editar</th>
            <th class="delete-column" scope="col">Borrar</th>
            <th class="update-column" scope="col">Guardar</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table id="myTable2">
        <tbody>
          <% notebooks.forEach(notebook => { %>
          <tr>
            <form action="/administrar/edit/<%=notebook.id%>?_method=PUT
                        " method="POST">
              <td class="id-column"><%=notebook.id%></td>
              <td contenteditable="true">
                <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="name"
                  placeholder="" value="<%=notebook.name%>" />
              </td>

              <td>
                <div>
                  <select class="form-control clase1" id="exampleFormControlTextarea1" name="modelId">
                    <option disabled>Seleccione el modelo</option>
                    <option value="<%=notebook.model.id%>" selected>
                      <%= notebook.model.name %>
                    </option>
                    <% modelos.forEach(prov => { %> <% if (notebook.model.id
                        != prov.id){ %>
                    <option value="<%=prov.id %>"><%= prov.name %></option>
                    <% }}); %>
                  </select>
                </div>
              </td>

              <td class="brand-column">
                <div>
                  <select class="form-control clase1" id="exampleFormControlTextarea1" name="brandId">
                    <option disabled>Seleccione la marca</option>
                    <option value="<%=notebook.brand.id%>" selected>
                      <%= notebook.brand.name %>
                    </option>
                    <% marcas.forEach(prov => { %> <% if (notebook.brand.id !=
                        prov.id){ %>
                    <option value="<%=prov.id%>"><%= prov.name %></option>
                    <% }}); %>
                  </select>
                </div>
              </td>

              <td class="price-column" contenteditable="true">
                <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="price"
                  placeholder="" value="<%=notebook.price%>" />
              </td>

              <td class="offer-column" contenteditable="true">
                <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="oldPrice"
                  placeholder="" value="<%=notebook.oldPrice%>" />
              </td>

              <td class="stock-column" contenteditable="true">
                <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="stock"
                  placeholder="" value="<%=notebook.stock%>" />
              </td>

              <td class="check-outstanding">
                <div class="form-check">
                  <input style="position: inherit;" class="form-check-input" type="checkbox" id="defaultCheck1"
                    name="outstanding" <%=
                      notebook.outstanding != 0 ? 'checked' : '' ;%>>
                </div>
              </td>

              <td class="see-column">
                <a href="/detalles/<%= notebook.id%>">
                  <ion-icon class="ver" name="eye-outline"></ion-icon>
                </a>
              </td>
              <td class="edit-column">
                <a href="/administrar/edit/<%= notebook.id%>">
                  <ion-icon class="edit" name="pencil-outline"></ion-icon>
                </a>
              </td>
              <td class="delete-column">
                <a href="/administrar/delete/<%= notebook.id%>">
                  <ion-icon name="trash-outline"></ion-icon>
                </a>
              </td>
              <td class="update-column">
                <button class="btn btn-success actualizar" type="submit">
                  <ion-icon size="large" name="checkmark-outline"></ion-icon>
                </button>
              </td>
            </form>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>


  </section>

  <section style="display: none;" id="brandsContent" class="row">

    <table class="table col-12 triangle">
      <thead>
        <h2>Marcas</h2>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Logo</th>
          <th style="text-align: center" scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createbrand" method="POST">
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandName"
                placeholder="Ingrese el nombre" value="" style="margin-top: 10px;" />
            </td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandLogo"
                placeholder="Ingrese el nombre del logo" value="" style="margin-top: 10px;" />
            </td>
            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION MARCAS -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Logo</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% marcas.forEach(marca => { %>
        <tr>
          <form action="/administrar/edit/<%=marca.id%>?_method=PUT
                            " method="POST">
            <td><%=marca.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandName"
                placeholder="" value="<%=marca.name%>" />
            </td>

            <td contenteditable='true'>
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandLogo"
                placeholder="" value="<%=marca.logo%>">
            </td>
            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="modelsContent" class="row">
    <!-- <article class="col-12">
                <h2 class="display-12"></h2>
            </article> -->

    <table class="table col-12 triangle">
      <thead>
        <h2>Modelos</h2>
        <tr>
          <th scope="col">Nombre</th>
          <th style="text-align: center" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createmodel" method="POST">
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="modelName"
                placeholder="Ingrese el nombre" value="" style="margin-top: 10px;" />
            </td>
            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION MODELOS -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% modelos.forEach(modelo => { %>
        <tr>
          <form action="/administrar/edit/<%=modelo.id%>?_method=PUT
                            " method="POST">
            <td><%=modelo.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="brandName"
                placeholder="" value="<%=modelo.name%>" />
            </td>

            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="categoryContent" class="row">
    <!-- <article class="col-12">
                <h2 class="display-12"></h2>
            </article> -->

    <table class="table col-12 triangle">
      <thead>
        <h2>Categorias/Type</h2>
        <tr>
          <th scope="col">Nombre</th>
          <th style="text-align: center" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createcategory" method="POST">
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="typeName"
                placeholder="Ingrese la categoria" value="" style="margin-top: 10px;" />
            </td>
            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION Categoria -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% categorias.forEach(categoria => { %>
        <tr>
          <form action="/administrar/edit/<%=categoria.id%>?_method=PUT
                            " method="POST">
            <td><%=categoria.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="categoryName"
                placeholder="" value="<%=categoria.name%>" />
            </td>

            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="atributesContent" class="row">

    <table class="table col-12 triangle">
      <thead>
        <h2>Atributos</h2>
        <tr>
          <th scope="col">Nombre</th>
          <th style="text-align: center" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createatribute" method="POST">
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="atributeName"
                placeholder="Ingrese el atributo" value="" style="margin-top: 10px;" />
            </td>
            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION ATRIBUTOS -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% atributos.forEach(atributo => { %>
        <tr>
          <form action="/administrar/edit/<%=atributo.id%>?_method=PUT
                            " method="POST">
            <td><%=atributo.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="categoryName"
                placeholder="" value="<%=atributo.name%>" />
            </td>

            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="imagesContent" class="row">

    <table class="table col-12 triangle">
      <h2>Imagenes</h2>

      <tbody>
        <tr>
          <form action="/administrar/createaimage" method="POST" enctype="multipart/form-data">
            <td>
              <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
                  Image</button>

                <div class="image-upload-wrap">
                  <input class="file-upload-input" type='file' name="imagen" onchange="readURL(this);"
                    accept="image/*" />
                  <div class="drag-text">
                    <h3>Drag and drop a file or select add Image</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="#" alt="your image" />
                  <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove
                      <span class="image-title">Uploaded Image</span></button>
                  </div>
                </div>
              </div>
            </td>

            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION IMAGENES -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">visualización</th>
          <th scope="col">Nombre</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% imagenes.forEach(imagen => { %>
        <tr>
          <form action="/administrar/edit/<%=imagen.id%>?_method=PUT
                            " method="POST">
            <td><%=imagen.id%></td>
            <td><img class="imagePreview" src="/img/<%=imagen.filename%>" alt=""></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="categoryName"
                placeholder="" value="<%=imagen.filename%>" />
            </td>

            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="componentsContent" class="row">

    <table class="table col-12 triangle">
      <h2>Componentes</h2>
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <form action="/administrar/createcomponent" method="POST">

            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="value"
                placeholder="" value="" />
            </td>


            <td>
              <div class="form-group">
                <select class="form-control clase1" id="exampleFormControlTextarea1" name="brandId">
                  <option disabled>Seleccione la marca</option>
                  <% marcas.forEach(marca => { %>
                  <option value="<%=marca.id %>"><%= marca.name %></option>
                  <% }); %>
                </select>
              </div>
            </td>

            <td>
              <div class="form-group">
                <select class="form-control clase1" id="exampleFormControlTextarea1" name="typeId">
                  <option disabled>Seleccione la categoria</option>
                  <% categorias.forEach(category => { %>
                  <option value="<%=category.id %>"><%= category.name %></option>
                  <% }); %>
                </select>
              </div>
            </td>


            <td style="text-align: center;">
              <button class="btnEffect third" type="submit">Agregar</button>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <!-- DIVISION COMPONENTES -->

    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% componentes.forEach(component => { %>
        <tr>
          <form action="/administrar/edit/<%=component.id%>?_method=PUT
                                " method="POST">
            <td><%=component.id%></td>

            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="value"
                placeholder="" value="<%=component.value%>" />
            </td>

            <td>
              <div class="form-group">
                <select class="form-control clase1" id="exampleFormControlTextarea1" name="brandId">
                  <option disabled>Seleccione la marca</option>
                  <option value="<%=component.brandId%>" selected>
                    <% marcas.forEach(prov => { %>
                    <% if (component.brandId == prov.id){ %>
                    <%= prov.name %>
                    <% }}); %>
                  </option>
                  <% marcas.forEach(prov => { %> <% if (component.brandId
                      != prov.id){ %>
                  <option value="<%=prov.id %>"><%= prov.name %></option>
                  <% }}); %>
                </select>
              </div>
            </td>

            <td>
              <div class="form-group">
                <select class="form-control clase1" id="exampleFormControlTextarea1" name="typeId">
                  <option disabled>Seleccione la categoria</option>
                  <option value="<%=component.typeId.id%>" selected>
                    <%= component.typeId.name %>
                  </option>
                  <% categorias.forEach(prov => { %> <% if (component.typeId.id != prov.id){ %>
                  <option value="<%=prov.id %>"><%= prov.name %></option>
                  <% }}); %>
                </select>
              </div>
            </td>

            <td>
              <a href="/administrar/delete/COMPLETAR">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>

  <section style="display: none;" id="usersContent" class="row">
    <table class="table col-12 triangle">
      <h2>Administradores</h2>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Administrador</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>
        <% usuarios.forEach(user => { %>
        <% if (user.rolId == 1){ %>
        <tr>
          <form action="/administrar/edit/<%=user.id%>?_method=PUT
                    " method="POST">
            <td><%=user.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="firstName"
                placeholder="" value="<%=user.firstName%>" />
            </td>

            <td contenteditable='true'>
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="lastName"
                placeholder="" value="<%=user.lastName%>">
            </td>

            <td contenteditable='true'>
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="email"
                placeholder="" value="<%=user.email%>">
            </td>

            <td>
              <div style="text-align: center" class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck1" name="rolId" <%=
                  user.rolId == 1 ? 'checked' : '' ;%>>
              </div>
            </td>


            <td>
              <a href="/administrar/delete/<%= user.id%>">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }}); %>
      </tbody>
    </table>

    <!-- USUARIOS -->

    <h2>USUARIOS</h2>
    <table class="table col-12 tableBody">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Administrador</th>
          <th scope="col">Borrar</th>
          <th scope="col">Actualizar</th>
        </tr>
      </thead>

      <tbody>

        <% usuarios.forEach(user => { %>
        <% if (user.rolId != 1){ %>
        <tr>
          <form action="/administrar/edit/<%=user.id%>?_method=PUT
                    " method="POST">
            <td><%=user.id%></td>
            <td contenteditable="true">
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="firstName"
                placeholder="" value="<%=user.firstName%>" />
            </td>

            <td contenteditable='true'>
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="lastName"
                placeholder="" value="<%=user.lastName%>">
            </td>

            <td contenteditable='true'>
              <input type="text" class="form-control clase1" id="exampleFormControlTextarea1" name="email"
                placeholder="" value="<%=user.email%>">
            </td>

            <td>
              <div style="text-align: center" class="form-check">
                <input class="form-check-input" type="checkbox" id="defaultCheck1" name="rolId" <%=
                  user.rolId == 1 ? 'checked' : '' ;%>>
              </div>
            </td>

            <td>
              <a href="/administrar/delete/<%= user.id%>">
                <ion-icon class="tacho" name="trash-outline"></ion-icon>
              </a>
            </td>
            <td style="text-align: center">
              <button class="btn btn-success actualizar" type="submit">
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </button>
            </td>
          </form>
        </tr>
        <% }}); %>
      </tbody>
    </table>
  </section>

</body>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script>
  //Efecto flecha filtros.
  document.getElementById("classArrow").addEventListener('click', function () {
    document.getElementById("arrowIcon").getAttribute('name') == "arrow-up-outline" ?
      document.getElementById("arrowIcon").setAttribute('name', "arrow-down-outline") :
      document.getElementById("arrowIcon").setAttribute('name', "arrow-up-outline")
    document.getElementById("byArrow").remove();
  });
  document.getElementById("classArrowId").addEventListener('click', function () {
    document.getElementById("arrowIconId").getAttribute('name') == "arrow-up-outline" ?
      document.getElementById("arrowIconId").setAttribute('name', "arrow-down-outline") :
      document.getElementById("arrowIconId").setAttribute('name', "arrow-up-outline")
    document.getElementById("byArrowId").remove();
  });
</script>

<script>
  function sortTableNum(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable2");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 0; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }

  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable2");
    switching = true;

    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 0; i < (rows.length - 1); i++) {
        console.log(rows.length);
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
<script>
  //-----------Left Panel Buttons-----------
  let generalButton = document.getElementById("generalButton");
  let notebooksButton = document.getElementById("notebooksButton");
  let componentsGeneralButton = document.getElementById("componentsGeneralButton");
  let componentsList = document.getElementById("componentsListButton");

  let usersButton = document.getElementById("usersButton");
  let profileButton = document.getElementById("profileButton");
  //-----------Left Panel Sub Buttons-----------
  let brandsButton = document.getElementById("brandsButton");
  let modelsButton = document.getElementById("modelsButton");
  let categoryButton = document.getElementById("categoryButton");
  let attributesButton = document.getElementById("attributesButton");
  let imagesButton = document.getElementById("imagesButton");
  let componentsButton = document.getElementById("componentsButton");

  ///////////////////////////////////////////////////////////
  //..........................Vistas.........................
  let contentGeneral = document.getElementById("generalContent");
  let contentProducts = document.getElementById("productsContent");
  let contentUsers = document.getElementById("usersContent");
  //-------------------------.SubItems.----------------------
  let contentBrands = document.getElementById("brandsContent");
  let contentModels = document.getElementById("modelsContent");
  let contentCategories = document.getElementById("categoryContent");
  let contentAtributes = document.getElementById("atributesContent");
  let contentImages = document.getElementById("imagesContent");
  let contentComponents = document.getElementById("componentsContent");

  function hideAll(p) {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";
  }

  generalButton.addEventListener("click", function () {
    contentGeneral.style.display = '';
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  notebooksButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  componentsGeneralButton.addEventListener("click", function () {
    componentsList.style.display == "block" ? componentsList.style.display = "none" : componentsList.style
      .display = "block"
  });
  brandsButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  modelsButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  categoryButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  attributesButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";
  });
  imagesButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "";
    contentComponents.style.display = "none";
    contentUsers.style.display = "none";

  });
  componentsButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "";
    contentUsers.style.display = "none";
  });
  usersButton.addEventListener("click", function () {
    contentGeneral.style.display = "none";
    contentProducts.style.display = "none";
    contentBrands.style.display = "none";
    contentModels.style.display = "none";
    contentCategories.style.display = "none";
    contentAtributes.style.display = "none";
    contentImages.style.display = "none";
    contentComponents.style.display = "none";
    contentUsers.style.display = "";
  });

  // $(window).on("load resize ", function () {
  //   var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  //   $('.tbl-header').css({
  //     'padding-right': scrollWidth
  //   });
  // }).resize();
</script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>